body {
    margin: 0;
    padding: 0;
}

.banner {
    background: linear-gradient(to bottom, #070211 0%, rgba(7, 2, 17, 0)), url(images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
    background-size: cover;
    border-radius: 15px;
    margin: 0 120px;
    text-align: center;
    color: #fff;
    font-family: Merriweather;
}

.Happy-New-Year {
    padding-top: 150px;
    font-size: 32px;
}

.New-Year-Party {
    font-size: 72px;
    font-weight: 900;
    padding-bottom: 100px;
    margin-top: 16px;
}

.discount {
    margin-top: 100px;
    text-align: center;
    font-family: Inter;
    margin-bottom: 120px;
}

.discount h2 {
    font-size: 88px;
    font-weight: bold;
    color: #f00;
    margin-bottom: 0;
}

.discount p {
    font-size: 24px;
    font-weight: 500;
    color: #f00;
    margin-top: 40px;
    margin-bottom: 0;
}

.discount h3 {
    font-size: 48px;
    font-weight: bold;
    color: #070211;
    margin-top: 16px;
}

.discount img {
    width: 700px;
}

.midnight-party {
    background: linear-gradient(to right, #070211 0%, rgba(7, 2, 17, 0)), url(images/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
    background-size: cover;
    border-radius: 15px;
    /* height: 600px; */
    margin: 0 120px;
    color: #fff;
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 125px;
}

.midnight-party h2 {
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 30px;
    font-family: Merriweather;
}

.midnight-party p {
    font-family: Inter;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 30px;
}

.midnight-party button {
    margin-left: 40px;
    font-family: Inter;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background: transparent;
    border: 0;
    color: #fff;
}

.join-now {
    margin: 100px 120px 0;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.2), rgba(255, 0, 0, 0));
    text-align: center;
    border-radius: 15px;
    padding: 100px;
}

.join-now h4 {
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    color: #070211;
}

.join-now span {
    color: #f00;
}

.join-now button {
    padding: 16px 32px;
    font-family: Inter;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #f00;
    border-radius: 8px;
    border: 0;
}

.best-offer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: Merriweather;
    margin: 100px 120px 0;
    gap: 40px;
}

.best-offer h5 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    color: #f00;
    margin-bottom: 0;
}

.best-offer h3 {
    font-size: 48px;
    font-weight: 900;
    color: #070211;
    margin-top: 16px;
    margin-bottom: 0;
}

.best-offer p {
    font-size: 20px;
    color: rgba(7, 2, 17, 0.6);
    margin-top: 20px;
    font-family: Inter;
    margin-top: 16px;
}

.best-offer h4 {
    font-family: Inter;
    font-size: 48px;
    font-weight: bold;
    text-align: left;
    color: #f00;
    margin-bottom: 0;
}

.best-offer-img1 {
    border: solid #f00 15px;
    border-radius: 50%;
    padding: 30px;
}

.best-offer-lastdiv {
    margin-left: 40px;
}

.best-gift {
    margin: 120px 120px 0;
}

.best-gift h5 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    color: #f00;
    margin-bottom: 0;
}

.best-gift h3 {
    font-size: 48px;
    font-weight: 900;
    color: #070211;
    margin-top: 16px;
    margin-bottom: 0;
}

.best-gift p {
    font-size: 20px;
    color: rgba(7, 2, 17, 0.6);
    margin-top: 20px;
    font-family: Inter;
    margin-top: 16px;
    width: 895px;
}

.gift-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
}

.gift-images img {
    width: 100%;
    transition: transform 0.3s ease;
}

.gift-images img:hover {
    border: solid 1px #f00;
    border-radius: 15px;
    transform: scale(1.09);
    /* Zoom effect when the image is hovered */
    transition: transform 0.3s ease;
}

.subscribe-newsletter {
    margin: 120px 120px 0;
    background-color: rgba(255, 0, 0, 0.05);
    padding: 80px 0;
    border: 0;
    border-radius: 15px;
}

.subscribe-newsletter h3 {
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    color: #070211;
    margin-top: 40px;
    margin-bottom: 0;

}

.subscribe-newsletter p {
    font-family: Inter;
    font-size: 20px;
    text-align: center;
    color: rgba(7, 2, 17, 0.6);
    padding-top: 0px;
}

.subscribe-newsletter img {
    display: flex;
    justify-self: center;
    padding: 0%;
}

.input-field {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
}

#email-field {
    padding: 25px 30px;
    border: 0;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-left: 40px;
    font-size: 18px;
    color: rgba(7, 2, 17, 0.3);
}

#btn-subscribe {
    border: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 23px 56px;
    background-color: #f00;
    color: #fff;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #fff;
}

footer{
    background-color: black;
    margin-top: 120px;
    padding: 120px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}

.first-row{
    display: flex;
    justify-content: space-between;
}

.second-row hr{
    margin: 40px 0;
    background-color: #ffffff26 15%;
}

.second-row-img{
    display: flex;
    justify-content: center;
    padding: 48px 0;
    gap: 24px;
}

.third-row{
    display: flex;
    justify-content: space-between;
}