body {
    margin: 0;
    padding: 0;
}

.banner {
    background: linear-gradient(to bottom, #070211 0%, rgba(7, 2, 17, 0)), url(/images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
    background-size: cover;
    border-radius: 15px;
    margin: 0 120px;
    text-align: center;
    color: #fff;
    font-family: Merriweather;
}

.Happy-New-Year {
    padding-top: 150px;
    font-size: 32px;
}

.New-Year-Party {
    font-size: 72px;
    font-weight: 900;
    padding-bottom: 100px;
    margin-top: 16px;
}

.discount {
    margin-top: 100px;
    text-align: center;
    font-family: Inter;
    margin-bottom: 120px;
}

.discount h2 {
    font-size: 88px;
    font-weight: bold;
    color: #f00;
    margin-bottom: 0;
}

.discount p {
    font-size: 24px;
    font-weight: 500;
    color: #f00;
    margin-top: 40px;
    margin-bottom: 0;
}

.discount h3 {
    font-size: 48px;
    font-weight: bold;
    color: #070211;
    margin-top: 16px;
}

.discount img {
    width: 700px;
}

.midnight-party {
    background: linear-gradient(to right, #070211 0%, rgba(7, 2, 17, 0)), url(/images/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
    background-size: cover;
    border-radius: 15px;
    /* height: 600px; */
    margin: 0 120px;
    color: #fff;
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 125px;
}

.midnight-party h2 {
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 30px;
    font-family: Merriweather;
}

.midnight-party p {
    font-family: Inter;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 30px;
}

.midnight-party button {
    margin-left: 40px;
    font-family: Inter;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background: transparent;
    border: 0;
    color: #fff;
}

.join-now {
    margin: 100px 120px 0;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.2), rgba(255, 0, 0, 0));
    text-align: center;
    border-radius: 15px;
    padding: 100px;
}

.join-now h4 {
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    color: #070211;
}

.join-now span {
    color: #f00;
}

.join-now button {
    padding: 16px 32px;
    font-family: Inter;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #f00;
    border-radius: 8px;
    border: 0;
}

.best-offer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: Merriweather;
    margin: 100px 120px 0;
    gap: 40px;
}

.best-offer h5 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    color: #f00;
    margin-bottom: 0;
}

.best-offer h3 {
    font-size: 48px;
    font-weight: 900;
    color: #070211;
    margin-top: 16px;
    margin-bottom: 0;
}

.best-offer p {
    font-size: 20px;
    color: rgba(7, 2, 17, 0.6);
    margin-top: 20px;
    font-family: Inter;
    margin-top: 16px;
}

.best-offer h4 {
    font-family: Inter;
    font-size: 48px;
    font-weight: bold;
    text-align: left;
    color: #f00;
    margin-bottom: 0;
}

.best-offer-img1{
    border: solid #f00 15px ;
    border-radius: 50%;
    padding: 30px;
}

.best-offer-lastdiv{
    margin-left: 40px;
}